<h2>Create a Celebrity Entry</h2>
<form action="/celebrities/create" method="post">
    name: <input type="text" name="name">
    occupation: <input type="text" name="occupation">
    catch phrase: <input type="text" name="catchPhrase">
    <button type="submit">create!</button>
</form>
<a href="/">&larr; Back</a>